html,
body,
#root {
    height: 100%;
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}
.main-container {
    display: flex;
    height: 100%;
    width: 100%;

    > .main-search-container {
        margin: 20vh auto 0;
    }
}
